*{
    margin:0px;
    padding:0px;
}
@font-face {
    font-family: 'victory_history_demoregular';
    src: url('../font/victory_history_demo-webfont.woff2') format('woff2'),
         url('../font/victory_history_demo-webfont.woff') format('woff'),
         url('../font/Victory_History_Demo.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manjariregular';
    src: 
    url('../font/Manjari/manjari-regular-webfont.woff2') format('woff2'),
         url('../font/Manjari/manjari-regular-webfont.woff') format('woff'),
         url('../font/Manjari/Manjari-Regular1.ttf') format('ttf');
    font-weight: normal;    
    font-style: normal;

}
/* mobile first */
@media all and (min-width: 375px) and (max-width: 810px)
{
    body
    {
        background-color: #DAD4FF;
        font-family: 'Kurale', serif;
        color: #B1AADE;
    }

    p
    {
        font-family: 'manjariregular','impact';
        font-size:0.8em;
    }

    input
    {
        border-radius: 20px 0 0 20px;
        padding-left: 20px;
        border: none;
        position: relative;
        height:5vh;
        width: 220px;
        z-index:4;
        margin-top: 30px;
    }

    form :focus
    {
        outline: none;
    }

    button
    {
        border-radius: 0px 20px 20px 0px;
        border: none;
        padding-left:20px;
        background-color: #353523;
        left: 74%;
        height:5vh;
        margin-left: -6px;
    }

    button i
    {   
        margin-right: 15px;
        color:WHITE;
    }

    button:hover
    {
        cursor: pointer;
        color :#FFF500;
    }

    .section1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:70px 10px 0px 10px;
    }
    section{
        margin: 0;
    }

    .p-Gwokanng
    {
        color: #B1AADE;
        font-family: 'Kurale', serif;
    }

    .parent-titles
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lets-try
    {
    position: relative;
    color: #b1aade5a;
    font-size: 4em;
    }

    .h1-Gwokanng
    {
    position: absolute;
    top: 180px;
    color: #FFF500;
    font-size: 2.5em;
    }

    main
    {
        min-height: 70vh;
    }

    .section3
    {
        display:flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    }

    .section4
    {   position:relative;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 30vh;
        z-index: -1;
    }

    .filling
    {
        position : absolute;
        font-family: 'Kurale', serif;
        font-size: 3.3em;
        transform: rotate(-90deg);
        top: 128px;
        left: 192px;
        opacity: 15%;
    }

    footer
    {
        display:flex;
        flex-direction: column;
    }

    .star-lien
    {
    position: fixed;
    left: -46px;
    bottom: -33px;
    width: 158px;
    display: flex;
    justify-content: center;
    align-content: center;
    }

    .lien-github
    {
        position: absolute;
        top: 31%;
        left: 41%;
    }

    .fa-brands
    {
        font-size: 2.3em;
        color: #353523;
        transition: ease-out 0.3s;
    }
    .fa-brands:hover
    {   
        
        border: white;
        font-size: 2.8em;
        color: #353523;
        
    }


    img
    {
        width: 90%;
        opacity: 50%;
    }

    /*--------div autocomplete---------*/

    .parent
    {
        background: white;
        color: #353523;
        width: 220px;
        border-radius: 0 0 20px 20px;
        position: absolute;
        z-index: 3;
        padding: 10px;
        height: 237px;
        overflow: scroll;
        box-shadow: 5px 5px 5px #5c5c5c5a;

        
    }
    .parent  ul li 
    {
        overflow:hidden;
        text-overflow: ellipsis;
        font-family: 'manjariregular';
        color : #75756B;
        font-size: 0.8em;
    }

    .autocomplete
    {
        min-width: 292px;
    }


/* /mobile first\ */
}

/* 
... ... ... ..,,~”::::::::::::::::::::::::::::::::::::::::::::::::::::”~,,
... ... ... ..,,-“:::::::::::::::/::::::/::::::::::::::::\:::::::::::::::-,::-,::”-,
... ... ...,-“:::::,-“:::/:::::/::::::/:|:::::::::::::::::\::::::::::::::::\::::\::\,”-,
... ... .,-“:::::::/:::::|:::::|:::::::|:|::::::::::::::::::\\:::::::::::::|:|:::::\:::\::\
/::::::::::|::::::|:::::|\::::::\:\::::::::::::::::::||::::::::::::|:/::::::|::::|::\
.../::::::::::::\:::::::\::::'\”-,::::\:\,:::::::::::::::|:|::::::::::,//::::::/::::|:::'|
... ../::::::::::::::'\::::::\-,:::”-,”-,::\-,”-,,:::::::::/: |::::::,-“//::::::/:::::/::,,-'
... ./:::::::::::::::::”,-,,::\|”~-,,\,:”~-\”: :”-,::::/: :/:::,-“: :/::,-“/:::,-“:::/
... /::::::::::::::::::/,__”-,\: : ,,-~”,”',-,: : :\:/: :/:,-“,-~,”-,”:/:,,-“:,-//'
... |:::::::::::::::::/:o:::o: :,,-“/. ,-“:\.|: : : : “: -'”:/./,--,”\.'|”/::::::|-“
...|::::::/:::::::::/::/|:::|.\: : \.|'|¯;|..|.|: : : : : : : :|.||;;;|././:|:::|:::|
...|::|:::|::::::::/::'-':::'-,': : '\'\'~'_/,/: : : : : : ,: :'-'-¯-'~': |:::|:::|
...|::|:::|::::::::/::::|:::::'|: : : “' ¯: : : : : : : : : :\: : : : : : /::::'\::|
...|::|:::|:::::::/:::::|:::::'\: : : : : : : : : : : : : : :': : : : : :/::::::|::|
... \:|:::|::::::|::::::|::::::|,: : : : : : : : : :__,: : : : : : :,-“:::::::|::|
... .'\|::|::::::|::::::||::::::\'~,: : : : : : : :'--~': : : : ,,~”\:::::::::|:/
... ...'\:|:::::|::::::/.|::::::|: : “~,: : : : : : : : ,,-~,”::::::'\:::::::|:/
... ... .\\:::::|”~,/-,|:::::::|: : : : ¯”~,-,,,-~”:::,,-'\::::::::\-,,_::|/
... ... ..',\,::|~--'-~\:::::::|: : : : : : |::|,,-~”¯..__\::::::::\... .'|
... ..,~”': : \|: : : : : \::::::|: : : : : : |¯”'~~”~,”,: : \:::::::|... /
..,-“: : : : : :|: : : : : :\::::::|: : : : : : \: : : : : : “~'-,:\::::::|\,
..|: : : : : : : |: : : : : : |::::|,\,: : : : : : : : : : : : : :”-,-\::::|: \
..| : : : : : : : : : : : : : |::::|:'-,\: : : : : : : : : : : : : : :”-'\,|: :|  
*/

/* laptop */
@media all and (min-width: 810px) and (max-width: 4280px)
{
   
    body{
        background-color: #DAD4FF;
        font-family: 'Kurale', serif;
        color: #B1AADE;
    }
    
    p{
        font-family: 'manjariregular','impact';
        font-size:1.1em;
    }

    input
    {   
        

        border-radius: 20px 0 0 20px;
        padding-left: 20px;
        border: none;
        position: relative;
        height:5vh;
        width: 400px;
        z-index:4;
    }

    form :focus
    {
        outline: none;
    }

    button
    {
        border-radius: 0px 20px 20px 0px;
        border: none;
        padding-left:20px;
        background-color: #353523;
        left: 74%;
        height:5vh;
        margin-left: -6px;
    }
    
    button i
    {   
        margin-right: 15px;
        color:WHITE;
    }
    button:hover
    {
        cursor: pointer;
        color :#FFF500;
    }
    
    .section1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:70px 10px 0px 10px;
    }
    section
    {
        margin: 0;
    }
    
    .p-Gwokanng
    {
        color: #B1AADE;
        font-family: 'Kurale', serif;
    }

    .parent-titles
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lets-try
    {
     position: relative;
     color: #b1aade5a;
     font-size: 8em;
    }

    .h1-Gwokanng
    {
     position: absolute;
     top: 221px;
     color: #FFF500;
     font-size: 5em;
    }
    
    .section3
    {
        display:flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    }

    .section4
    {   position:relative;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 30vh;
        z-index: -1;
    }

    .filling
    {
        position : absolute;
        font-family: 'Kurale', serif;
        font-size: 5em;
        transform: rotate(-90deg);
        opacity: 15%;
    }

    footer
    {
        display:flex;
        flex-direction: column;
    }

    .star-lien
    {
        position: fixed;
        left: -48px;
        bottom: -42px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .lien-github
    {
        position: absolute;
        top: 29%;
        left: 40%;
    }

    .lien-github:hover
    {
        
    }

    .fa-brands
    {
        font-size: 3.5em;
        color: #353523;
        transition: ease-out 0.3s;
    }

    .fa-brands:hover
    {   
        
        border: white;
        font-size: 4em;
        color: #353523;
        top: 36%;
        left: 37%;
        
    }
    
    img
    {
        width: 90%;
        opacity: 50%;
    }
    
    /*--------div autocomplete---------*/
    
    .parent
    {
        background: white;
        color: #353523;
        width: 400px;
        border-radius: 0 0 20px 20px;
        position: absolute;
        z-index: 3;
        padding: 10px;
        height: 237px;
        overflow: scroll;
        box-shadow: 5px 5px 5px #5c5c5c5a;
    }

    .parent  ul li 
    {
        
        overflow:hidden;
        text-overflow: ellipsis;
        font-family: 'manjariregular';
        color : #75756B;
        font-size: 0.8em;
    }
    
    .autocomplete
    {
        min-width: 473px;
    }
}

